CREATE DATABASE [Clinic_Management_System_DB]
USE [Clinic_Management_System_DB]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [nvarchar](60) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NULL,
	[FullName] [nvarchar](60) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](60) NULL,
	[Address] [nvarchar](200) NULL,
	[Avatar] [nvarchar](200) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[LessonName] [nvarchar](200) NULL,
	[ActivityID] [int] NULL,
	[SubjectID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Content] [text] NULL,
	[Thumbnail] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationFeedback]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[EducationID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](200) NULL,
	[FullName] [nvarchar](60) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Avatar] [nvarchar](300) NULL,
	[Position] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[SupplierID] [int] NULL,
	[MedicineName] [nvarchar](100) NULL,
	[ShortDescription] [nvarchar](200) NULL,
	[Composition] [text] NULL,
	[Usage] [text] NULL,
	[UnitInStock] [int] NULL,
	[UnitOnOrder] [int] NULL,
	[OldUnitPrice] [int] NULL,
	[UnitPrice] [int] NULL,
	[Thumbnail] [nvarchar](300) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineFeedback]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[MedicineID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineImage]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[MedicineID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineOrderDetail]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineOrderDetail](
	[OrderID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineType]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](60) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[DeliveredDate] [datetime] NULL,
	[DeliveredAddress] [nvarchar](200) NULL,
	[PaymentID] [int] NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientificApparatus]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificApparatus](
	[ScientificApparatusID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[SupplierID] [int] NULL,
	[ScientificApparatusName] [nvarchar](100) NULL,
	[ShortDescription] [nvarchar](200) NULL,
	[Description] [text] NULL,
	[Specification] [text] NULL,
	[UnitInStock] [int] NULL,
	[UnitOnOrder] [int] NULL,
	[OldUnitPrice] [int] NULL,
	[UnitPrice] [int] NULL,
	[Thumbnail] [nvarchar](300) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScientificApparatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientificApparatusFeedback]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificApparatusFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[ScientificApparatusID] [int] NULL,
	[Content] [text] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientificApparatusImage]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificApparatusImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[ScientificApparatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientificApparatusOrderDetail]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificApparatusOrderDetail](
	[OrderID] [int] NOT NULL,
	[ScientificApparatusID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ScientificApparatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScientificApparatusType]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificApparatusType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](60) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](60) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/2/2020 11:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](60) NULL,
	[ContactName] [nvarchar](60) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([ActivityID], [ActivityName], [Description]) VALUES (1, N'Practice', N'Practice Lesson')
INSERT [dbo].[Activity] ([ActivityID], [ActivityName], [Description]) VALUES (2, N'Seminar', N'Meeting')
INSERT [dbo].[Activity] ([ActivityID], [ActivityName], [Description]) VALUES (3, N'Lecture', N'Theory')
SET IDENTITY_INSERT [dbo].[Activity] OFF
INSERT [dbo].[Customer] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Status]) VALUES (N'giangyeugiang', N'$s2$16384$8$1$v8ZZ2quV838jUUV4kgQW0in/y3oIy6kHAvN8s2RAU2M=$4xR9E93Dbe/x82gGq+Sag5CgjtA14IL54V6jnqL0YVE=', N'gam', CAST(N'2000-07-07' AS Date), 1, N'0987655425', N'giangtaongo@gmail.com', N'Hoang Kiem - Ho Guong - Ha Noi', N'~/public/uploadedFiles/customerPictures/06d308763ea6c0f899b7202900776.jpg', 1)
INSERT [dbo].[Customer] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Status]) VALUES (N'nguoidung', N'$s2$16384$8$1$Pg8HTCvsm2u9vMyDVzYtaaVyMNeLEyDcCO+HYHhxzYs=$s/Kzz0rp8DFqUXiFIKl7VShQwUSw2FWi2LpHxe4JeuM=', N'Anthonio Tam', CAST(N'2001-01-01' AS Date), 1, N'052729123', N'nguoidung@gmail.com', N'Ninh Kieu- Can Tho - Viet Nam', N'~/public/uploadedFiles/customerPictures/avatar2201329672.png', 1)
INSERT [dbo].[Customer] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Status]) VALUES (N'NguyenDuongVinhThinh', N'$s2$16384$8$1$p4yXyOr8NZUlebrF/ppLGAowCnwjDVcAF7bILrqc1Tg=$MEtLDYXV2pil7J97t48e69TERu/rNOuqZ/u4KJR/XQM=', N'Nguyen Duong Vinh Thinh', CAST(N'2000-01-01' AS Date), 1, N'0939819662', N'Ndvt@gmail.com', N'Ninh Kieu - Can tho', N'~/public/uploadedFiles/customerPictures/avatar4202850219.png', 1)
SET IDENTITY_INSERT [dbo].[Education] ON 

SET IDENTITY_INSERT [dbo].[Education] OFF
SET IDENTITY_INSERT [dbo].[EducationFeedback] ON 

INSERT [dbo].[EducationFeedback] ([FeedbackID], [Username], [EducationID], [Content], [CreatedDate]) VALUES (4, N'nguoidung', 5, N'ok xin xo', CAST(N'2020-11-02T16:20:19.187' AS DateTime))
INSERT [dbo].[EducationFeedback] ([FeedbackID], [Username], [EducationID], [Content], [CreatedDate]) VALUES (5, N'NguyenDuongVinhThinh', 9, N'Or, too rewarding', CAST(N'2020-11-02T18:30:51.753' AS DateTime))
INSERT [dbo].[EducationFeedback] ([FeedbackID], [Username], [EducationID], [Content], [CreatedDate]) VALUES (6, N'NguyenDuongVinhThinh', 3, N'That beautiful scene, quite interesting', CAST(N'2020-11-02T18:31:47.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[EducationFeedback] OFF
INSERT [dbo].[Employee] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Position], [Status]) VALUES (N'admin123', N'$s2$16384$8$1$2laaCaKcBlB6wvoAMMb9zy4vv1W0KFvWhau4p/4SzZM=$vcv1fD0V6zEB58l8yt+XeSnr9kXpZm6Nvzr784pZT3I=', N'Pham Hoang Tam', CAST(N'2000-04-03' AS Date), 1, N'0327291328', N'phtama18097@cusc.ctu.edu.vn', N'Ninh Kieu, Can Tho, Viet Nam', N'~/public/uploadedFiles/employeePictures/avttam204444277.jpg', 1, 1)
INSERT [dbo].[Employee] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Position], [Status]) VALUES (N'nhanvien', N'$s2$16384$8$1$U1slJ+tuptcZwTsei39YInlIm25/aPVPpVTRhSa5zF8=$XCeJRNWPSPmuPKNbzjbKvlXBMMvoL5+xSuZurXDfakQ=', N'Nguyễn Nhân Viên', CAST(N'2000-01-01' AS Date), 0, N'0123456789', N'nguyennhanvien@gmail.com', N'Ninh Kieu - Can Tho', N'~/public/uploadedFiles/employeePictures/avatar3203411397.png', 0, 1)
INSERT [dbo].[Employee] ([Username], [Password], [FullName], [DateOfBirth], [Gender], [Phone], [Email], [Address], [Avatar], [Position], [Status]) VALUES (N'nmlam123', N'$s2$16384$8$1$8fHM/3KcBxWLNt0NEsSFsgtXeqNDwPaETQapKho1yys=$oCBGogDu4C9YdNxdvxSOTFgn6JhWKwp80qWw3RfCJI0=', N'Nguyễn Minh Lâm', CAST(N'2000-04-29' AS Date), 1, N'0123456789', N'nmlama18119@cusc.ctu.edu.vn', N'Ninh Kieu - Can Tho', N'~/public/uploadedFiles/employeePictures/avatar4202107525.png', 1, 1)
SET IDENTITY_INSERT [dbo].[Medicine] ON 

SET IDENTITY_INSERT [dbo].[Medicine] OFF
SET IDENTITY_INSERT [dbo].[MedicineFeedback] ON 

INSERT [dbo].[MedicineFeedback] ([FeedbackID], [Username], [MedicineID], [Content], [CreatedDate]) VALUES (5, N'nguoidung', 10, N'ok xin xo', CAST(N'2020-11-02T11:47:32.653' AS DateTime))
INSERT [dbo].[MedicineFeedback] ([FeedbackID], [Username], [MedicineID], [Content], [CreatedDate]) VALUES (12, N'NguyenDuongVinhThinh', 37, N'Good Medicine', CAST(N'2020-11-02T18:17:57.737' AS DateTime))
INSERT [dbo].[MedicineFeedback] ([FeedbackID], [Username], [MedicineID], [Content], [CreatedDate]) VALUES (13, N'NguyenDuongVinhThinh', 1, N'The effect is pretty bad !!', CAST(N'2020-11-02T18:21:15.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicineFeedback] OFF
SET IDENTITY_INSERT [dbo].[MedicineImage] ON 

INSERT [dbo].[MedicineImage] ([ImageID], [FileName], [MedicineID]) VALUES (20, N'~/public/uploadedFiles/medicineImages/1203853188.jpg', 8)
INSERT [dbo].[MedicineImage] ([ImageID], [FileName], [MedicineID]) VALUES (21, N'~/public/uploadedFiles/medicineImages/beta203921889.jpg', 12)
INSERT [dbo].[MedicineImage] ([ImageID], [FileName], [MedicineID]) VALUES (22, N'~/public/uploadedFiles/medicineImages/beta1203927708.jpg', 12)
SET IDENTITY_INSERT [dbo].[MedicineImage] OFF
INSERT [dbo].[MedicineOrderDetail] ([OrderID], [MedicineID], [Quantity]) VALUES (1, 1, 1)
INSERT [dbo].[MedicineOrderDetail] ([OrderID], [MedicineID], [Quantity]) VALUES (2, 1, 4)
INSERT [dbo].[MedicineOrderDetail] ([OrderID], [MedicineID], [Quantity]) VALUES (5, 2, 3)
SET IDENTITY_INSERT [dbo].[MedicineType] ON 

INSERT [dbo].[MedicineType] ([TypeID], [TypeName], [Description]) VALUES (1, N'Medication', N'Medication')
INSERT [dbo].[MedicineType] ([TypeID], [TypeName], [Description]) VALUES (2, N'Injection', N'drug injected into the body')
INSERT [dbo].[MedicineType] ([TypeID], [TypeName], [Description]) VALUES (3, N'Paste', N'skin medicines')
SET IDENTITY_INSERT [dbo].[MedicineType] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [Username], [CreateDate], [DeliveredDate], [DeliveredAddress], [PaymentID], [Status], [Note]) VALUES (1, N'phtam123', CAST(N'2020-10-29T10:28:15.280' AS DateTime), NULL, N'Duong thu 1', 1, 0, N'das')
INSERT [dbo].[Order] ([OrderID], [Username], [CreateDate], [DeliveredDate], [DeliveredAddress], [PaymentID], [Status], [Note]) VALUES (2, N'phtam123', CAST(N'2020-10-29T10:30:22.687' AS DateTime), CAST(N'2020-10-30T01:21:03.373' AS DateTime), N'Duong thu 3', 2, 2, N'dasasd')
INSERT [dbo].[Order] ([OrderID], [Username], [CreateDate], [DeliveredDate], [DeliveredAddress], [PaymentID], [Status], [Note]) VALUES (3, N'phtam123', CAST(N'2020-10-29T10:32:04.553' AS DateTime), NULL, N'Duong thu 3', 1, 0, N'dasda')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (1, N'Payment on Delivery')
INSERT [dbo].[Payment] ([PaymentID], [PaymentName]) VALUES (2, N'MOMO Wallet')
SET IDENTITY_INSERT [dbo].[Payment] OFF
SET IDENTITY_INSERT [dbo].[ScientificApparatus] ON 

SET IDENTITY_INSERT [dbo].[ScientificApparatus] OFF
SET IDENTITY_INSERT [dbo].[ScientificApparatusFeedback] ON 

INSERT [dbo].[ScientificApparatusFeedback] ([FeedbackID], [Username], [ScientificApparatusID], [Content], [CreatedDate]) VALUES (3, N'nguoidung', 8, N'ok xin xo
', CAST(N'2020-11-02T12:20:28.873' AS DateTime))
INSERT [dbo].[ScientificApparatusFeedback] ([FeedbackID], [Username], [ScientificApparatusID], [Content], [CreatedDate]) VALUES (4, N'nguoidung', 8, N'ngon bo re', CAST(N'2020-11-02T12:20:37.237' AS DateTime))
INSERT [dbo].[ScientificApparatusFeedback] ([FeedbackID], [Username], [ScientificApparatusID], [Content], [CreatedDate]) VALUES (6, N'NguyenDuongVinhThinh', 10, N'The price is too high', CAST(N'2020-11-02T18:28:50.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[ScientificApparatusFeedback] OFF
SET IDENTITY_INSERT [dbo].[ScientificApparatusImage] ON 

INSERT [dbo].[ScientificApparatusImage] ([ImageID], [FileName], [ScientificApparatusID]) VALUES (8, N'~/public/uploadedFiles/scientificApparatusImages/CH-453203446846.jpg', 2)
INSERT [dbo].[ScientificApparatusImage] ([ImageID], [FileName], [ScientificApparatusID]) VALUES (9, N'~/public/uploadedFiles/scientificApparatusImages/AMPall_BP868F203743691.jpg', 3)
INSERT [dbo].[ScientificApparatusImage] ([ImageID], [FileName], [ScientificApparatusID]) VALUES (10, N'~/public/uploadedFiles/scientificApparatusImages/AMPall_BP868F_1a203957869.jpg', 4)
SET IDENTITY_INSERT [dbo].[ScientificApparatusImage] OFF
INSERT [dbo].[ScientificApparatusOrderDetail] ([OrderID], [ScientificApparatusID], [Quantity]) VALUES (5, 2, 3)
INSERT [dbo].[ScientificApparatusOrderDetail] ([OrderID], [ScientificApparatusID], [Quantity]) VALUES (6, 2, 3)
INSERT [dbo].[ScientificApparatusOrderDetail] ([OrderID], [ScientificApparatusID], [Quantity]) VALUES (13, 10, 4)
SET IDENTITY_INSERT [dbo].[ScientificApparatusType] ON 

INSERT [dbo].[ScientificApparatusType] ([TypeID], [TypeName], [Description]) VALUES (1, N'Durable Medical', N'wheelchair, hospital bed, ...')
INSERT [dbo].[ScientificApparatusType] ([TypeID], [TypeName], [Description]) VALUES (2, N'Treatment', N'Equipment treatment')
INSERT [dbo].[ScientificApparatusType] ([TypeID], [TypeName], [Description]) VALUES (3, N'Diagnostic', N'Preliminary diagnosis of the pathology')
SET IDENTITY_INSERT [dbo].[ScientificApparatusType] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description]) VALUES (1, N'Health', N'Provide lectures that are good for your health')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description]) VALUES (2, N'Medical', N'About Hospital')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [Phone], [Email]) VALUES (1, N'CTy TNHH Thanh Long', N'Hoa Duoc Thanh Long', N'Hoang Kiem - Ho Guong - Ha Noi', N'0327291328', N'Hoaduocthanhlong.infor@gmail.com')
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [Phone], [Email]) VALUES (2, N'Cty TNHH Hoa Linh', N'Nha Thuoc Hoa Linh', N'Thanh My - Thap Muoi - Dong Thap', N'0527291329', N'Nhathuochoalinh.infor@gmail.com')
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [Address], [Phone], [Email]) VALUES (3, N'CTy TNHH Thien An', N'Duoc Lieu Thien An', N'Duong Ten Lua, Phuong 5, Quan 1, Thanh Pho Ho Chi Minh', N'0292381818', N'duoclieuthienan@gmail.com')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([ActivityID])
REFERENCES [dbo].[Activity] ([ActivityID])
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[EducationFeedback]  WITH CHECK ADD FOREIGN KEY([EducationID])
REFERENCES [dbo].[Education] ([EducationID])
GO
ALTER TABLE [dbo].[EducationFeedback]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([Username])
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[MedicineType] ([TypeID])
GO
ALTER TABLE [dbo].[MedicineFeedback]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineFeedback]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([Username])
GO
ALTER TABLE [dbo].[MedicineImage]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineOrderDetail]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineOrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([Username])
GO
ALTER TABLE [dbo].[ScientificApparatus]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[ScientificApparatus]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[ScientificApparatusType] ([TypeID])
GO
ALTER TABLE [dbo].[ScientificApparatusFeedback]  WITH CHECK ADD FOREIGN KEY([ScientificApparatusID])
REFERENCES [dbo].[ScientificApparatus] ([ScientificApparatusID])
GO
ALTER TABLE [dbo].[ScientificApparatusFeedback]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Customer] ([Username])
GO
ALTER TABLE [dbo].[ScientificApparatusImage]  WITH CHECK ADD FOREIGN KEY([ScientificApparatusID])
REFERENCES [dbo].[ScientificApparatus] ([ScientificApparatusID])
GO
ALTER TABLE [dbo].[ScientificApparatusOrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[ScientificApparatusOrderDetail]  WITH CHECK ADD FOREIGN KEY([ScientificApparatusID])
REFERENCES [dbo].[ScientificApparatus] ([ScientificApparatusID])
GO
