
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<main class="login-bg">
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
                    {
                        <div class="login-form">
                            <div class="login-heading">
                                <span>Change Your Password</span>
                                <p>Enter details to change</p>
                            </div>
                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label>Current Password</label>
                                    <input type="password" placeholder="Enter Current Password" name="current">
                                    <div style="color:red;padding-bottom:20px">@ViewBag.ErrorCurrent</div>
                                </div>
                                <div class="single-input-fields">
                                    <label>New Password</label>
                                    <input type="password" placeholder="Enter New Password" name="password">
                                    <div style="color:red;padding-bottom:20px">@ViewBag.ErrorPassword</div>
                                </div>
                                <div class="single-input-fields">
                                    <label>Confirm Password</label>
                                    <input type="password" placeholder="Confirm New Password" name="confirm">
                                    <div style="color:red;padding-bottom:20px">@ViewBag.ErrorConfirm</div>
                                </div>
                            </div>
                            <div class="login-footer">
                                <button type="button" onclick="window.location='/home'" class="submit-btn3" style="background-color:gray">Cancel</button>
                                <button type="submit" class="submit-btn3">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
