@model List<ClinicManagementSystem.EF.Order>

@{
    ViewBag.Title = "My Order";
    ViewBag.Header = "My Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="cart_area section-padding40">
    <div class="container">
        
    </div>
</section>