@{
    //var user = (Azure_Assignment.Areas.Admin.Models.UserLogin)Session["USER_SESSION"];
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/admin" class="brand-link">
        <img src="~/Asset/dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Clinic Management</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/public/img/avatar5.png" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="~/admin/profile" class="d-block">Tam Pham Hoang</a>
            </div>
        </div>


        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="~/Admin/Home" class="nav-link">
                        <img src="~/public/icons/icons8-dashboard-30.png" />
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="~/public/icons/icons8-doctors-bag-30.png" />
                        <p>
                            Manage Medicines
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Admin/Medicines" class="nav-link">
                                <img src="~/public/icons/icons8-pill-30.png" />
                                <p>Medicines</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/MedicineTypes" class="nav-link">
                                <img src="~/public/icons/icons8-pharmacy-30.png" />
                                <p>Medicine Types</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Medicinefeedbacks" class="nav-link">
                                <img src="~/public/icons/icons8-messaging-30.png" />
                                <p>Feedbacks</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Importations" class="nav-link">
                                <img src="~/public/icons/icons8-cash-register-euro-30.png" />
                                <p>Medicine Orders</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="~/public/icons/icons8-sell-stock-30.png" />
                        <p>
                            Manage Apparatus
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Admin/Products" class="nav-link">
                                <img src="~/public/icons/icons8-product-30.png" />
                                <p>Scientific Apparatus</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/ScientificApparatusTypes" class="nav-link">
                                <img src="~/public/icons/icons8-commodity-30.png" />
                                <p>Scientific Apparatus Types</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/ScientificApparatusFeedbacks" class="nav-link">
                                <img src="~/public/icons/icons8-messaging-30.png" />
                                <p>Feedbacks</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Importations" class="nav-link">
                                <img src="~/public/icons/icons8-cash-register-euro-30.png" />
                                <p>Scientific Apparatus Orders</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="~/Admin/Customers/" class="nav-link">
                        <img src="~/public/icons/icons8-customer-30.png" />
                        <p>Manage Customers</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Admin/Employees/" class="nav-link">
                        <img src="~/public/icons/icons8-management-30.png" />
                        <p>Manage Employees</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Admin/Blogs" class="nav-link">
                        <img src="~/public/icons/icons8-blog-30.png" />
                        <p>
                            Manage Education
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Admin/BlogCategories" class="nav-link">
                                <img src="~/public/icons/icons8-book-30.png" />
                                <p>Educations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Subjects" class="nav-link">
                                <img src="~/public/icons/icons8-book-shelf-30.png" />
                                <p>Subjects</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/Activities" class="nav-link">
                                <img src="~/public/icons/icons8-science-application-30.png" />
                                <p>Activities</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Admin/EducationFeedbacks" class="nav-link">
                                <img src="~/public/icons/icons8-messaging-30.png" />
                                <p>Feedbacks</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="~/Admin/Suppliers/" class="nav-link">
                        <img src="~/public/icons/icons8-supplier-30.png" />
                        <p>Manage Suppliers</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Admin/Payments/" class="nav-link">
                        <img src="~/public/icons/icons8-visa-30.png" />
                        <p>Manage Payments</p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="@Url.Action("LogOut", "Login")" class="nav-link">
                        <img src="~/public/icons/icons8-sign-out-30.png" />
                        <p>Sign out</p>
                    </a>
                </li>
               

            </ul>
        </nav>
    </div>
</aside>

