
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="about-area section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2>Why should I choose my clinic?</h2>
                        <p class="pera">
                            Clinic is a standard built system. Not only outstanding by the latest medical equipment and drugs, but also for the best quality. At Clinic you can also pay on delivery and momo payment is very convenient.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="about-img pb-bottom">
                        <img src="~/Scripts/img/gallery/about1.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2>System</h2>
                        <p class="pera">
                            With many years of operation in the field of providing medical equipment and instruments for hospitals, medical centers, clinics, large and small medical supplies stores nationwide. Clinic medical supplies warehouse with the desire to develop and diversify sales channels in order to provide customers with many quality products at reasonable prices. Clinic medical supplies warehouse strives to become a reliable and reputable address with customers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="about-img pb-bottom">
                        <img src="~/Scripts/img/gallery/about2.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle text-center pt-10">
                        <h2>2020</h2>
                        <p class="pera">
                            Clinic medical supplies warehouse is currently a direct distributor and importer of medical equipment, tools and consumables from manufacturers in the US, UK, Germany, Japan, Korea, Malaysia. ... is also the distribution representative of reputable medical supplies manufacturers in the country such as: Medicon, Tanaphar, Danameco ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

