@model IEnumerable<ClinicManagementSystem.EF.Subject>

@{
    ViewBag.Title = "Manage Subjects";
    ViewBag.Manage = "Manage Subjects";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data of Subjects</h3>
                <p>
                    <a class="btn btn-success btn-sm float-right" href="~/Admin/Subjects/Create">
                        <i class="fas fa-plus">
                        </i>
                        Create New
                    </a>
                    <a style="cursor:pointer; color:white" id="print" class="btn btn-primary btn-sm float-right"><i class="fas fa-print"></i> Print</a>
                </p>
            </div>
            <div class="card-body">
                <table id="tbl_Subjects" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="~/Admin/Subjects/Details/@item.SubjectID">
                                    <i class="fas fa-folder">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="~/Admin/Subjects/Edit/@item.SubjectID">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="~/Admin/Subjects/Delete/@item.SubjectID">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section ScriptConfig
{
    <link href="~/Asset/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Asset/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Asset/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Asset/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $("#tbl_Subjects").DataTable({
            "responsive": true,
            "autoWidth": false,
            "aoColumns": [
                null,
                null,
                { sWidth: '180px' }
            ]
        });

        $('#print').click(function () {
            window.print();
            return false;
        });

    </script>
}